.load-more-container {
    display: grid;
    justify-content: center;
    margin: 20px 0;
    margin-bottom: 200px;
}

.load-more {
    padding: 5px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}